{
	"PORT": 8080,
	"VCAP_SERVICES": {
		"portal-services": [{
				"copy this information": "from your own CF space"
			}
		],
		"xsuaa": [{
				"copy this information": "from your own CF space"
			}
		]
	},
	"destinations": [{
			"name": "your-own-destinations",
			"url": "http://localhost:8081",
			"forwardAuthToken": true
		}
	],
	"sapui5url": "https://sapui5.hana.ondemand.com",
	"TENANT_HOST_PATTERN": "(.*).localhost",
	"XS_APP_LOG_LEVEL": "set to 'debug' to enable trace"
}
